<div class="result-wrapper">
    <div class="row">
        <div class="col-md-4">
            <h1>Result</h1>
        </div>
        <div class="col-md-4">
            <%= @lesson.result %> of <%= @lesson.lesson_words.count %>
        </div>
    </div>
</div>

<h2><%= @lesson.category.title %></h2>

<div class="row">
    <div class="col-md-4">
        <% @lesson.category.words.each do |word| %>
            <ul>
                <li><%= word.content %></li>
            </ul>
        <% end %>
    </div>
    <div class="col-md-4">
        <% @lesson_words.each do |lesson_words| %>
            <ul>
                <li><%= word.content %></li>
            </ul>
        <% end %>
    </div>
    <div class="col-md-4">
        
    </div>
</div>