<div class="row">
    <div class="col-md-6 col-center">
        <h2><%= @category.title %></h2> 
        <div class="description">
            <%= @category.description %>
        </div>
        <%= link_to "Edit", edit_admin_category_path(@category) %>
        / <%= link_to "Add words", new_admin_category_word_path(@category) %>
        / <%= link_to "back", admin_categories_path %>
        <div class="word-list-wrapper">
            <%= render "admin/words/word_list" %>
        </div>
    </div>
</div>