<% @user ||= current_user %>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <%= link_to "E-Learning System", root_path, id: "logo" %>

            <ul class="nav navbar-nav navbar-right">
                <% unless logged_in? %>
                    <li><%= render "layouts/login_form" %></li>
                <% end %>
                <% if logged_in? %>
                    <li><%= link_to "Users", users_path %></li>
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Logout", logout_path, method: :delete %></li>
                    <% if @user.admin? %>
                        <li><%= link_to "Category", new_admin_category_path %></li>
                        <li><%= link_to "Category List", admin_categories_path %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </nav>    
</header>